﻿@model day4mvc.Models.AddInternViewModel
@{
}

<form method="post" action="Add">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">College</label>
        <input type="text" class="form-control" asp-for="College">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Position</label>
        <input type="text" class="form-control" asp-for="Position">
    </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>